[submodule "vendor/uber-go/zap"]
	path = vendor/go.uber.org/zap
	url = https://github.com/uber-go/zap
[submodule "vendor/github.com/uber-go/atomic"]
	path = vendor/go.uber.org/atomic
	url = https://github.com/uber-go/atomic
