[Unit]
Description=mailpopbox MX POP3/SMTP server.
Requires=network.target

[Service]
Type=simple
ExecStartPre=/sbin/iptables -t nat -A PREROUTING -p tcp --dport 25 -j REDIRECT --to-ports 9025
ExecStartPre=/sbin/iptables -t nat -A PREROUTING -p tcp --dport 995 -j REDIRECT --to-ports 9995
ExecStart=/usr/local/bin/mailpopbox /home/mailpopbox/config.json
ExecStopPost=/sbin/iptables -t nat -D PREROUTING -p tcp --dport 995 -j REDIRECT --to-ports 9995
ExecStopPost=/sbin/iptables -t nat -D PREROUTING -p tcp --dport 25 -j REDIRECT --to-ports 9025
PermissionsStartOnly=true
User=mailpopbox
Group=mailpopbox
OOMScoreAdjust=-1000
OOMPolicy=continue

[Install]
WantedBy=multi-user.target
