name: Container

on:
  workflow_dispatch:
  release:
    types: published

jobs:
  push_container:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write

    steps:
    - uses: actions/checkout@v6

    - id: read_version
      run: echo "VERSION=$(make version)" >> $GITHUB_ENV

    - uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ github.token }}

    - uses: docker/setup-qemu-action@v3

    - uses: docker/setup-buildx-action@v3

    - uses: docker/build-push-action@v6
      with:
        platforms: linux/amd64,linux/arm64
        context: .
        file: deployment/Dockerfile-router
        push: true
        tags: |
          ghcr.io/rsesek/mailpopbox/mailpopbox-router:latest
          ghcr.io/rsesek/mailpopbox/mailpopbox-router:${{ env.VERSION }}
